* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

body {
  background-size: cover;
  background-image: url('/images/wood.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  perspective: 1000;
}

$blackColor: #6d6d6d;
$lightGrayColor: #dcdbdb;
$darkGrayColor: #b4b3b3;

.sudoku-wrapper {

  color: #FFF;
  margin: 90px auto;
  width: 600px;
  height: 800px;

  .sudoku-header {

    .game-controls {
      list-style-type: none;
      padding-left: 0px;
      margin-left: 0px;

      .control {
        display: inline-block;
        float: left;
      }

      &:after {
        clear: both;
        display: block;
        content: '';
      }

    }
    a {
      color: #FFF;
      text-decoration:none;
    }

  }

  #sudokuBoard {

    background-color: #FFF;
    font-family: "Source Sans Pro", sans-serif;
    color: #d0bab2;
    font-size: 30px;
    font-size: 3rem;
    height: 600px;

    &.is-paused {
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      filter: blur(3px);

      .empty {

        color: $blackColor;

          &:focus, &:hover {
            outline: 0px solid transparent;
            background-color: #FFF;
            cursor: none;
          }

      }
    }

    .sudoku-board {

      height: 100%;
      width: 100%;

      .sudoku-row {
        min-height: 11.11%;
        height: 11.11%;
        border-top: 1px solid $lightGrayColor;

        &:nth-child(3n+4)
        {
          border-top: 1px solid $darkGrayColor;
        }

        &:last-child {
          border-bottom: 1px solid $lightGrayColor;
        }

        &::before {
          content: '';
          display: block;
          clear: both;
        }

        .sudoku-square {
          text-align: center;
          padding: 16px;
          line-height: 30px;
          line-height: 3rem;
          height: 100%;
          width: 11.11%;
          float: left;
          border-left: 1px solid $lightGrayColor;

          &.empty {

            color: $blackColor;

              &:focus, &:hover {
                outline: 0px solid transparent;
                background-color: #fbf3f0;
                cursor: pointer;
              }

              &.has-error {
                color: orangered;
              }

          }

          &:nth-child(3n+4) {
            border-left: 1px solid $darkGrayColor;
          }

          &:last-child {
            border-right: 1px solid $lightGrayColor;
          }
        }
      }
    }
  }
}


/* Flippable Styles */
.flippable {

  transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;

  &.is-flipped {
    transform: rotateY(180deg);
  }

  .front, .back {

  	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .front {
  	z-index: 2;
  }

  .back {
  	transform: rotateY(180deg);
  }

}
